.alertWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50px;
  padding-top: 0.5rem;
}

.header {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.navButtons {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}